// GENERAL RULES --------------------
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-center {
    width: 80%;
    margin: 0 auto;
}

.btn {
    padding: 10px 15px;
    border: 2px solid #3874D9;
}
// HEADER
@import 'partials/header';

// MAIN-HOME
@import 'partials/home';

// FOOTER
@import 'partials/footer';
