* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-center {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: 10px 15px;
  border: 2px solid #3874D9;
}

header .top-bar {
  padding: 1.2em 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header .container-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-center img {
  width: 70px;
  display: block;
}

header li {
  display: inline-block;
  margin: 0 15px;
}

header li a {
  padding: 40px 0;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

header li a.active,
header li a:hover {
  color: #377AE4;
  border-bottom: 3px solid #377AE4;
}

header #jumbo {
  background-image: url("/storage/assets/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 600px;
  margin-top: 100px;
}

#comics {
  padding: 5rem 0;
  background-color: #000;
  color: #fff;
}

#comics h2 {
  text-transform: uppercase;
  background-color: #3880F1;
  margin-left: 10%;
  padding: 0.25em 0.75em;
  box-shadow: 5px 0 5px rgba(1, 1, 1, 0.397);
  display: inline;
  position: relative;
  bottom: 3rem;
  z-index: 1;
}

#comics #comics-cards {
  padding: 30px 0;
}

#comics #comics-cards ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

#comics #comics-cards li {
  list-style-type: none;
  width: calc(16.6666666667% - 20px);
  min-width: 170px;
  padding: 10px;
}

#comics #comics-cards .card a {
  color: #fff;
  text-decoration: none;
}

#comics #comics-cards .card a .img-window {
  height: 200px;
  overflow: hidden;
}

#comics #comics-cards .card a .img-window img {
  width: 100%;
}

#comics #comics-cards .card a .img-window img:hover {
  transform: scale(1.2);
  opacity: 0.5;
  transition: linear 0.2s;
}

#comics #comics-cards .card a h3 {
  font-size: 1rem;
}

#comics #comics-cards .card a p {
  font-size: 0.8rem;
  line-break: auto;
}

#link-cards {
  background-color: #3880F1;
}

#link-cards ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#link-cards ul li {
  list-style: none;
}

#link-cards ul li a {
  text-transform: uppercase;
  width: 20%;
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 20px 0;
}

#link-cards ul li a img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

#link-cards ul li a p {
  font-size: 1rem;
  white-space: nowrap;
}

.see-more {
  text-align: center;
}

.see-more button {
  padding: 8px 0;
  border: 0;
  background-color: #3880F1;
}

.see-more button:hover {
  background-color: rgba(186, 186, 186, 0.397);
}

.see-more button a {
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

main .comic-banner {
  height: 4rem;
  background-color: #3874D9;
  position: relative;
}

main .comic-banner img {
  width: 170px;
  border: 1px solid #fff;
  position: absolute;
  bottom: 1rem;
  left: 20%;
}

main #comic-details {
  margin: 4rem auto;
  width: 60%;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  gap: 3rem;
}

main #comic-details h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

main #comic-details .comic-info {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #70B864;
}

main #comic-details .comic-info .availability {
  display: flex;
  align-items: center;
}

main #comic-details .comic-info .availability .check-avaiable {
  padding: 0.5rem 2rem;
  border-left: 1px solid #000;
  font-size: 0.8rem;
  margin-left: 2rem;
}

main #comic-details .comic-details_ads h3 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: right;
}

main #comic-details .comic-details_ads .ad-container {
  padding: 0.5rem;
  width: 100%;
  aspect-ratio: 6/5;
  background-image: url("https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2018/09/AC1000_DLX_162-001_HD_5ba13723281ab0.37845353.jpg?itok=ZsI-C5eX");
  background-size: cover;
  background-position: center;
  position: relative;
}

main #comic-details .comic-details_ads .ad-container button {
  background-color: #FBE779;
  border: 0;
  padding: 0.5em 0.75em;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

main #comic-details .comic-details_ads .ad-container button a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 0.5em 0.75em;
}

main .bottom-test {
  background-color: #F6F6F6;
}

main .bottom-test .comic_more-details {
  padding: 2rem 0;
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

main .bottom-test h3 {
  font-size: 1.4rem;
  margin-bottom: 2em;
  display: block;
}

main .bottom-test .talent > div,
main .bottom-test .specs > div {
  padding: 1rem 0;
  border-top: 1px solid #cecece;
}

main .bottom-test .talent > div:last-child,
main .bottom-test .specs > div:last-child {
  border-bottom: 1px solid #cecece;
}

main .bottom-test .specs_info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 0.8rem;
}

main .bottom-test .specs_info h5 {
  font-size: 1rem;
}

footer {
  background-image: url("/storage/assets/footer-bg.jpg");
  background-size: cover;
  color: #fff;
}

.foot_up {
  display: flex;
}

.foot_up .footup-left {
  width: 50%;
  padding: 30px 0;
}

.foot_up .footup-left .footer-nav {
  display: flex;
}

.foot_up .footup-left .footer-nav h3 {
  margin: 20px 0;
  font-size: 1.2rem;
}

.foot_up nav {
  margin: 0 30px;
}

.foot_up a {
  text-transform: capitalize;
  text-decoration: none;
  color: #878585;
  font-size: 0.8rem;
}

.foot_up a:hover {
  text-decoration: underline;
}

.foot_up nav ul li {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}

.footup-right {
  background-image: url("/storage/assets/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
  width: 50%;
}

.foot_down {
  padding: 20px 0;
  background-color: #303030;
}

.foot_down .container-center {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.foot_down .container-center button {
  background-color: transparent;
}

.foot_down .container-center button:hover {
  background-color: gray;
  cursor: pointer;
}

.foot_down .container-center button a {
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.foot_down .container-center .social {
  color: #3874D9;
  display: flex;
  align-items: center;
}

.foot_down .container-center .social h3 {
  margin-right: 10px;
}

.foot_down .container-center .social a {
  margin: 10px;
}

