* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-center {
  width: 80%;
  margin: 0 auto;
}

.btn {
  padding: 10px 15px;
  border: 2px solid #3874D9;
}

header .top-bar {
  padding: 1.2em 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

header .container-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-center img {
  width: 70px;
  display: block;
}

header li {
  display: inline-block;
  margin: 0 15px;
}

header li a {
  padding: 40px 0;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

header li a.active,
header li a:hover {
  color: #377AE4;
  border-bottom: 3px solid #377AE4;
}

header #jumbo {
  background-image: url("/img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 600px;
  margin-top: 100px;
}

footer {
  background-image: url("/img/footer-bg.jpg");
  background-size: cover;
  color: #fff;
}

.foot_up {
  display: flex;
}

.foot_up .footup-left {
  width: 50%;
  padding: 30px 0;
}

.foot_up .footup-left .footer-nav {
  display: flex;
}

.foot_up .footup-left .footer-nav h3 {
  margin: 20px 0;
  font-size: 1.2rem;
}

.foot_up nav {
  margin: 0 30px;
}

.foot_up a {
  text-transform: capitalize;
  text-decoration: none;
  color: #878585;
  font-size: 0.8rem;
}

.foot_up a:hover {
  text-decoration: underline;
}

.foot_up nav ul li {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}

.footup-right {
  background-image: url("/img/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
  width: 50%;
}

.foot_down {
  padding: 20px 0;
  background-color: #303030;
}

.foot_down .container-center {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.foot_down .container-center button {
  background-color: transparent;
}

.foot_down .container-center button:hover {
  background-color: gray;
  cursor: pointer;
}

.foot_down .container-center button a {
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.foot_down .container-center .social {
  color: #3874D9;
  display: flex;
  align-items: center;
}

.foot_down .container-center .social h3 {
  margin-right: 10px;
}

.foot_down .container-center .social a {
  margin: 10px;
}

