// MAIN-HOME RULES
main {
    background-color: #000;
    padding-top: 30px;
}

#comics {
    margin: 3rem 0;
    color: #fff;
        h2 {
            text-transform: uppercase;
            background-color: #3880F1;
            margin-left: 10%;
            padding: .25em .75em;
            box-shadow: 5px 0 5px rgba(1, 1, 1, 0.397);
            display: inline;
            position: relative;
            bottom: 3rem;
            z-index: 1;
        }

    #comics-cards {
        padding: 30px 0;
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        li {
            list-style-type: none;
            width: calc((100% / 6) - 20px);
            min-width: 170px;
            padding: 10px;
        }
        .card {
            a {
                color: #fff;
                text-decoration: none;
                & .img-window  {
                    height: 200px;
                    overflow: hidden;
                    img { 
                        width: 100%;
                        &:hover {
                            transform: scale(1.2);
                            opacity: .5;
                            transition: linear .2s;
                        }
                    }
                }
                & h3 {
                    font-size: 1rem;
                }
                & p {
                    font-size: .8rem;
                    line-break: auto;
                }
            }
        }
    }
}

#link-cards {
    background-color: #3880F1;
    & ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        & li {
            list-style: none;
            & a {
                text-transform: uppercase;
                width: 20%;
                display: flex;
                align-items: center;
                color: #fff;
                text-decoration: none;
                padding: 20px 0;
                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 5px;
                }
                p {
                    font-size: 1rem;
                    white-space: nowrap;
                }
            }
        }
    }
}

.see-more {
    text-align: center;
    button {
    padding: 8px 0;
    border: 0;
    background-color: #3880F1;
        &:hover {
            background-color: hsla(0, 0%, 73%, 0.397);
        }
        a {
            padding: 8px 30px;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}