// MAIN-TEST RULES
main {
    .comic-banner {
        height: 4rem;
        background-color: #3874D9;
        position: relative;
        img {
            width: 170px;
            border: 1px solid #fff;
            position: absolute;
            bottom: 1rem;
            left: 20%;
        }
    }
    
    #comic-details {
        margin: 4rem auto;
        width: 60%;
        display: grid;
        grid-template-columns: 3fr 1.5fr;
        gap: 3rem;
        h2 {
            text-transform: uppercase;
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }

        .comic-info {
            padding-left: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            background-color: #70B864;
            .availability {
                display: flex;
                align-items: center;
                .check-avaiable {
                    padding: .5rem 2rem;
                    border-left: 1px solid #000;
                    font-size: .8rem;
                    margin-left: 2rem;
                }
            }
        }

        .comic-details_ads {
            h3 {
                font-size: 1rem;
                text-transform: uppercase;
                text-align: right;
            }
            .ad-container {
                padding: .5rem;
                width: 100%;
                aspect-ratio: 6/5;
                background-image: url('https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2018/09/AC1000_DLX_162-001_HD_5ba13723281ab0.37845353.jpg?itok=ZsI-C5eX');
                background-size:cover;
                background-position: center;
                position: relative;
                button {
                    background-color: #FBE779;
                    border: 0;
                    padding: .5em .75em;
                    position: absolute;
                    bottom: .5rem;
                    left: .5rem;
                    a {
                        font-weight: bold;
                        color: #000;
                        text-decoration: none;
                        padding: .5em .75em;
                    }
                }
            }
        }
    }
}